<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <title>Matius y Leo y Cristian</title>
 <script src="https://d3js.org/d3.v7.min.js"></script>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- Hero / gráfico grande a pantalla completa -->
  <div id="HeroChart" class="hero-chart">
    <!-- El contenido se renderizará dinámicamente con D3.js -->
  </div>

 <script src="{{ url_for('static', filename='js/NetworkGraph.js') }}"></script>
 
 <script>
   // Inicializar el gráfico de red
   createNetworkGraph('#HeroChart');  
 </script>
</body>
</html>